<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="../../../Files/properties.config"/>
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="./providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="MySql"/>
		<dataSource name="SDsDataSource" connectionString="Data Source=183.109.83.28;Initial Catalog=jusik;Persist Security Info=True;User ID=root;Password=!!wjddk4455"/>
	</database>

	<sqlMaps>
			<sqlMap resource="../../../Files/Maps/Access/Post.xml" />
		  <sqlMap resource="../../../Files/Maps/Access/Blog.xml" />
	    <sqlMap resource="../../../Files/Maps/Access/Author.xml" />
	</sqlMaps>

</sqlMapConfig>