<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="./providers.config"/>
  
	<!-- Database connection information -->
	<database>
    <provider name="MySql"/>
    <dataSource name="SDsDataSource" connectionString="Data Source=112.171.115.122;Initial Catalog=jusik;Persist Security Info=True;User ID=root;Password=!!wjddk4455"/>
	</database>

	<sqlMaps>
		<!--<sqlMap resource="./Sample.xml" />-->
    <!--<sqlMap resource="${root}Maps/Account.xml"/>-->
    <sqlMap embedded="SDs.FiveM.Model.Service.Sample.Maps.AdminUserMap.xml,         SDs.FiveM.Model" />
    <sqlMap embedded="SDs.FiveM.Model.Service.PublicLoginView.Maps.PublicLoginMap.xml,         SDs.FiveM.Model" />
	</sqlMaps>

</sqlMapConfig>